In [3]:
import pandas as pd

data = {'YouTube': [100, 50, 125, 75, 150],
        'Google': [50, 125, 100, 100, 50],
       'Residual': [-80.9, -37.8, 99.4, -12.3, 30.8]}
  

df = pd.DataFrame(data, columns=['YouTube', 'Google','Residual'])
df

   YouTube  Google  Residual
0      100      50     -80.9
1       50     125     -37.8
2      125     100      99.4
3       75     100     -12.3
4      150      50      30.8

In [4]:
X = df[['YouTube','Google']]
Y = df[['Residual']]

from sklearn.linear_model import LinearRegression

regr = LinearRegression()  
regr.fit(X, Y)
df['y_pred'] = regr.predict(X)
df

   YouTube  Google  Residual     y_pred
0      100      50     -80.9 -82.316667
1       50     125     -37.8 -26.466667
2      125     100      99.4  95.150000
3       75     100     -12.3 -25.050000
4      150      50      30.8  37.883333